////////////////////////////////////////////////////////////
// common
@mixin radius($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
}

$basecolor: #ff6600;
$subcolor: #cccccc;

* {
  padding: 0;
  margin: 0;
}

body{
  background-color: darken( $subcolor, 10%);
}

////////////////////////////////////////////////////////////
// container
#container{
  width: 800px;
  margin: 1em auto 1em auto;
  padding: 1em;

  background-color: lighten( $subcolor, 13%);
  @include radius(1em);
}


////////////////////////////////////////////////////////////
// header

#page-header {
  $wordsize: 80px;
  height: $wordsize + 10px;
  padding-left: 1em;
  border-bottom: 4px $basecolor solid;
  background-color: $basecolor;
  @include radius(1em);

  .logo {
    float: left;
    a {
      font-family: "Times New Roman";
      font-size: $wordsize;
      color: black;
      text-shadow: 0.05em 0.05em 0.05em white;
      text-decoration: none;
    }
  }
  .user {
    width: 20%;
    float: right;
    margin-top: $wordsize / 2;
    height: $wordsize / 2 + 10px;
    padding: 0 2em 0 2em;

    background-color: lighten( $subcolor, 13%);

    border-left: 4px $basecolor solid;
    border-top: 4px $basecolor solid;
    border-top-left-radius: 1em;
    div {
      text-align: right;
      padding-top: 0.5em;
      a {
        padding:0 0.5em 0 0.5em;
        vertical-align: bottom;
      }
    }
  }


  img {
    padding-top: 6px;
    padding-right: 6px;
    width: 32px;
    height: 32px;
  }
}


////////////////////////////////////////////////////////////
// content

#content{
  padding: 1em;

  article footer {
    padding-left: 2em;
    font-size: 85%;
    li {
      list-style-type: none;
    }
  }

  .twitter-icon {
    width: 24px;
    height: 24px;
  }
}

////////////////////////////////////////////////////////////
// footer

#page_footer {
  padding: 1em;
  border-top: 1px $basecolor solid;
}

////////////////////////////////////////////////////////////
// link
a {
  color: $basecolor;
  text-decoration: none;
}
a:visited {
  color: darken( $basecolor, 10% );
}
a:hover {
  text-decoration: underline;
}
