
$basecolor: #f8c864;
$subcolor: #cccccc;

* {
  padding: 0;
  margin: 0;
}

////////////////////////////////////////////////////////////
// logo

#logo-inner {
  // background-color: #cccccc;
}

////////////////////////////////////////////////////////////
// header

#page-header {
  $wordsize: 60px;
  height: $wordsize + 10px;
  padding-left: $wordsize;
  border-bottom: 4px $basecolor solid;
  .user {
    position: absolute;
    top: $wordsize / 2;
    right: 0;
    height: $wordsize / 2 + 10px;
    padding-left: 2em;
    padding-right: 2em;

    background-color: white;

    border-left: 4px $basecolor solid;
    border-top: 4px $basecolor solid;
    border-top-left-radius: 30px;
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .logo {
    a {
      font-family: "Times New Roman";
      font-size: $wordsize;
      color: $basecolor;
      text-shadow: 0.05em 0.05em 0.05em $subcolor;
      text-decoration: none;
    }
  }

  img {
    padding-top: 6px;
    padding-right: 6px;
    width: 32px;
    height: 32px;
  }
}


////////////////////////////////////////////////////////////
// article

article {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  width: 600px;
  border-left: 2px $subcolor dotted;
  border-right: 2px $subcolor dotted;
}

article header {
  font-size: 120%;

}

article footer {
  padding: 10px;
  border: 1px $subcolor solid;
  border-radius: 25px;
}

////////////////////////////////////////////////////////////
// footer

#page_footer {
  color: #999999;
  text-align: center;
  border-top: 1px $subcolor solid;
}

