<% @urls.each do |url| %>
  <article>
    <header>
    <h1><a href="<%= url.url %>"><%= url.title %></a></h1>
    </header>
    <p class='description'>
    </p>
    <footer>
      <ul>
        <li>
          <% url.tweets.each do |tweet| %>
            <img class="twitter-icon" src="<%= tweet.twitter_user.profile_image_url %>">
            <%= tweet.text %>
          <% end %>
        </li>
      </ul>
    </footer>
  </article>
<% end %>
