<% @urls.each do |url| %>
  <article>
    <header>
    <h2><a href="<%= url.url %>"><%= url.title %></a></h2>
    </header>
    <p class='description'>
    </p>
    <footer>
      <ul>
        <% url.tweets.each do |tweet| %>
        <li>
            <img class="twitter-icon" src="<%= tweet.twitter_user.profile_image_url %>">
            <%= raw auto_link tweet.text %>
        </li>
          <% end %>
      </ul>
    </footer>
  </article>
<% end %>
