<!DOCTYPE html>
<html>
<head>
  <title>Arabica</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<footer id="page_footer">
  <p>arabica is created by mokha mattari</p>
</footer>
</body>
</html>
